<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-1.12.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/VueJs.js"></script>
    <script src="js/main.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">



</head>
<body>

<!--******************************以下为导航栏*****************************-->
    <div class="navbar navbar-default navbar_myself">
        <div class="container">
            <div   class="navbar-header">
                <a href="#" class="navbar-brand ">WebAudio</a>
            </div>
            <ul class="nav navbar-nav  ">
                <li class="active" ><a href="#">音乐播放器</a> </li>
                <li><a href="#">视频播放器</a> </li>
            </ul>
        </div>
    </div>

<!--**********************以下为主体部分***********************************-->
    <div id="main_body">
        <div class="container">
            <div class="col-lg-3">
                <ul class="nav nav-pills nav-stacked left-lan-font li_center li_radios">
                    <li class="active cursor_pointer"><a>全部歌曲</a></li>
                        <div id="all_songlist" class="song_list">
                            <ul v-for="(value,index) in all_songs">
                                <!--<li >{{value.name}}</li><button @click = "add()"  :keyui = "index"><span @click = "add()"  :keyui = "index" class="glyphicon glyphicon-heart-empty"></span></button>-->
                                <li ><span class="cursor_pointer"    @mouseup = "play()" :numb = "index">{{value.name}}</span> <span @click = "add()"   :keyui = "index" class="small_heart glyphicon glyphicon-heart-empty float_rignt"  :state_choose = 0></span></li>
                                <!--           点击心之后 删除glyphicon-heart-empty类 添加glyphicon-heart类        style="color: rgb(255, 42, 0);"                 -->
                            </ul>
                        </div>
                    <li class="cursor_pointer " id="test" @click = "toggleDiv()"><a >我喜欢的</a></li>
                        <div id="like_songlist" class="song_list">
                            <ul v-for="value in like_songs">
                                <li>{{value.name}}</li>
                            </ul>
                        </div>
                    <li  class="cursor_pointer"><a>最近常听</a></li>
                        <div id="recent_songlist" class="song_list">
                            <ul v-for="value in recent_songs">
                                <li>{{value.name}}</li>
                            </ul>
                        </div>
                </ul>
            </div>

            <!--这里是播放器界面-->
            <div class="col-lg-9">
                <div class="">
                    <div class="col-sm-4 margin_center"style="text-align: center" >
                        <span v-text="song_title"  class="h3" ></span>
                    </div>
                    <div class="col-sm-8">
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at atque consequuntur,
                            cumque distinctio doloribus est exercitationem expedita hic, impedit nisi officiis
                            perspiciatis, placeat porro praesentium quo rerum sed veritatis!
                        </div>
                        <div>Alias aliquam architecto blanditiis culpa cupiditate dicta dignissimos distinctio dolores
                            eligendi est, ex illo iusto magni maxime mollitia nihil officiis, optio porro quam quas
                            quisquam sequi, soluta totam veniam vero.
                        </div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at atque consequuntur,
                            cumque distinctio doloribus est exercitationem expedita hic, impedit nisi officiis
                            perspiciatis, placeat porro praesentium quo rerum sed veritatis!
                        </div>
                        <div>Alias aliquam architecto blanditiis culpa cupiditate dicta dignissimos distinctio dolores
                            eligendi est, ex illo iusto magni maxime mollitia nihil officiis, optio porro quam quas
                            quisquam sequi, soluta totam veniam vero.
                        </div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at atque consequuntur,
                            cumque distinctio doloribus est exercitationem expedita hic, impedit nisi officiis
                            perspiciatis, placeat porro praesentium quo rerum sed veritatis!
                        </div>
                        <div>Alias aliquam architecto blanditiis culpa cupiditate dicta dignissimos distinctio dolores
                            eligendi est, ex illo iusto magni maxime mollitia nihil officiis, optio porro quam quas
                            quisquam sequi, soluta totam veniam vero.
                        </div>

                    </div>
                </div>

                <!--这里是滑条的区域.-->
                <div class="btn-toolbar"  >
                    <!--<div class=" btn-group btn-group-sm">-->
                        <!--&lt;!&ndash;<button class="btn btn-info" @click = "slowly()"><span class="glyphicon glyphicon-backward"></span></button>&ndash;&gt;-->


                        <!--&lt;!&ndash;<button class="btn btn-info" @click = "quickly()"><span class="glyphicon glyphicon-forward"></span></button>&ndash;&gt;-->
                        <!---->
                    <!--</div>-->
                    <select id="select_speed" @change = "change_speed()" class="form-control select_group ">
                        <option >正常</option>
                        <option >0.8倍速</option>
                        <option >1.2倍速</option>
                        <option >1.5倍速</option>
                    </select>
                    <div class=" btn-group btn-group-sm ">
                        <button id="lastsong_btn" @click = "lastSong()" class="btn btn-info"><span class="glyphicon glyphicon-fast-backward"></span></button>
                        <button  class="btn btn-info" @click = "changePlayOrPause" :state_Play = "0"><span id="playIcon" class="glyphicon glyphicon-play"></span></button>
                        <!--     当点了播放之后  添加glyphicon-pause类 删除   glyphicon-play类   -->
                        <button id="nextsong_btn" class="btn btn-info" @click = "nextSong()"><span class="glyphicon glyphicon-fast-forward"></span></button>
                    </div>

                    <input id="SongRange" type="range" @change = "change_music_volume()" :value="music_volume">
                    <p class="label label-primary" style="display: inline-block;font-size: small"><span >{{currentTime}}</span><span>/</span><span >{{duration}}</span></p>
                    &nbsp;
                    <input id="voiceRange" @mousedown = "chageVoice_volume_setInterval()" @mouseup = "chageVoice_volume_clearInterval()" type="range"  style="width: 20%">

                    <audio id="media" src=""   loop="loop" ></audio>

                </div>
            </div>
        </div>
    </div>
</body>
</html>